<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Your App</title>
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
</head>
<body>
<div id="root"></div>
</body>
</html>